body {
    background-color: rgb(155, 140, 126);
    color: white;
    font-family: 'Nanum Pen Script', cursive;
    opacity: 0.9;
  }
  
  .btn {
    cursor: pointer;
  }

  h1 {
    color: rgb(145, 236, 157);
    transition: color 0.5s ease-in-out;
  }
  
  .clicked {
    color: rgb(222, 26, 20);
  }

  .form,
  .greetings{
    display: none;
  }

  .showing {
    display: block;
  }

  @keyframes fadeIn{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
  }

  .weather {
    position: absolute;
    left: 85%;
    bottom: 85%;
    color: rgb(145, 236, 157);
    font-weight: bold;
    font-size: xxx-large;
  }

  .general {
    position: absolute;
    top: 25%;
    left: 45%;
    display: blcok;
  }

  .js-clock, .js-form form, h4 {
      text-align: center;
      font-size: 35px;
  }

  .showing,
  .js-toDoForm {
    text-align: center;
    
  }

  .js-form input,
  .js-toDoForm input {
    width: 300px;
    height: 50px;
    border: 4px solid white;
    border-radius: 10px;
    border-style: outset;
    margin-top: 20px;
  }

  .js-toDoList {
    font-size: 20px;
  }

  input[type=text] {
      background-color: transparent;
  }

  input::placeholder{
      color: white;
      font-size: 30px;
      font-family: 'Nanum Pen Script', cursive;
  }